.collapsible-section{
	position: relative;
}
.collapsible-section:hover {
	cursor: pointer;
	text-decoration: underline;
}

.collapsible-section:after {
	content: url("/assets/arrowdown.svg"); 
	font-size: 0.8rem;
	width: 20px;
	height: 20px;
	float: right;
}

.collapsible-section.open:after {
	content: url("/assets/arrowup.svg"); 
}

.dark .collapsible-section:after,
.dark .collapsible-section.open:after {
	filter: brightness(150%);
}

/* Style the collapsible content. Note: hidden by default */
.docs-links .collapsible-wrapper {
	overflow: hidden;
	transition: height 0.5s ease-out;
}

.collapsible-wrapper {
	display: none;
}
