{% extends "page.html" %}

{% block body %}
  {% set page_class = "graph single" %}
{% endblock body %}

{% block header %}
  {# This value is matched by the config.extra.menu.main~url #}
  {% set current_section = "graph" %}
  {{ macros_header::header(current_section=current_section)}}
{% endblock header %}


{% block content %}
<div class="wrap container" role="document" style="width: 100%; height: 100%;" id="graph"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js" integrity="sha512-XHDcSyqhOoO2ocB7sKOCJEkUjw/pQCJViP1ynpy+EGh/LggzrP6U/V3a++LQTnZT7sCQKeHRyWHfhN2afjXjCg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ get_url(path="js/graph_info.js") | safe }}" defer></script>
<script src="{{ get_url(path="js/graph.js") | safe }}" defer></script>
{% endblock content %}

