{% extends "base.html" %}

{% block seo %}
  {{ super() }}

  {% if config.title %}
    {% set title = config.title %}
  {% else %}
    {% set title = "" %}
  {% endif %}
  
  {% if config.extra.title_addition %}
    {% set title_addition = config.extra.title_addition %}
  {% else %}
    {% set title_addition = title %}
  {% endif %}
  
  {% set description = config.description %}
  
  {{ macros_head::seo(title=title_addition, title_addition=title_addition, description=description, is_home=true) }}
{% endblock seo %}

{% block content %}

<div class="home">
  <div class="home-background">
    <div class="wrap container" role="document">
      <div class="content">
        <section class="section container-fluid mt-n3 pb-3">
          <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
              <h1 class="mt-0">{{ section.title | default(value="Modern Documentation Theme") | safe }}</h1>
            </div>
            <div class="col-lg-9 col-xl-8 text-center">
              <p class="lead">{{ section.extra.lead | default(value="Please start setting config.toml and adding your content.") | safe }}</p>
              <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ get_url(path=section.extra.url | default(value="/")) | safe }}" role="button">{{ section.extra.url_button | default(value="Read My Brain") | safe }}</a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

{% if config.extra.home_graph %}
  <div id="graph"></div>
{% endif %}

</div>

{% block footer %}
  {{ macros_footer::footer() }}
{% endblock footer %}

{% if config.extra.home_graph %}
  {{ macros_graph::graph_js() }}
{% endif %}

{% endblock content %}
