{% macro comments() %}
<script id="commentSection"
        src="https://giscus.app/client.js"
        data-repo="yarden-zmr/me"
        data-repo-id="R_kgDOIeeMfw"
        data-category="Announcements"
        data-category-id="DIC_kwDOIeeMf84CSwc3"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme=light
        data-lang="en"
        crossorigin="anonymous"
        async>
    console.log(localStorage.getItem("theme"))
    if (isDark()) {
        console.log("dark!")
        //put in variable
        document.getElementById('commentSection').setAttribute('data-theme', 'dark');
    }
</script>
{% endmacro %}