{% macro comments() %}
<script id="commentSection"
        src="https://giscus.app/client.js"
        data-repo="yarden-zamir/me"
        data-repo-id="R_kgDOIeeMfw"
        data-category="Announcements"
        data-category-id="DIC_kwDOIeeMf84CSwc3"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
{% endmacro %}
